.connect-container {
  margin: 100px 0px;
}

.connect {
  margin: 50px 0px;
  padding: 100px 10px;
  background-color: goldenrod;
}

.connect h2{
  margin: auto;
  color: #fff;
}

.connectInfo {
  padding: 10px 0px;
  background-color: #fff;
  padding: 100px 0px;
}


.hire-me{
  padding: 0px 50px 20px 50px;
  font-size: 20px;
}


//FLOATING LINKS STYLES

.contact-links{
  list-style-type: none;
  margin: 15px;
  font-size: 20px;
}

.contact-icons {
  margin-right: 10px;
  font-size: 23px;
  color: #000;
}

li a {
  color: #000;
}

li a:hover {
  color: goldenrod;
  text-decoration: none;
}
