.icon {
  width: 220px;
  height: 220px;
  padding-top: 40px;
}



.contact-title {
  margin-bottom: 40px;
  font-weight: bold;
}

.contact-wrapper{
  //box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  display: flex;
  padding: 70px 0px;
  background-color: transparent;
}


.contact-para {
  font-size: 23px;
  padding-bottom: 35px;
  color: goldenrod;
}

.contact-links{
  list-style-type: none;
  margin: 15px;
  font-size: 20px;
}



.contact-icons {
  margin-right: 10px;
  font-size: 23px;
  color: #000;
}

li a {
  color: #000;
}

li a:hover {
  color: goldenrod;
  text-decoration: none;
}
