.mainNav {
  background-color: #fff;

}

.navImage {
  height: 90px;
  margin-left: 20px;
}

#individualLink {
  margin-left: 30px;
  font-size: 23px;
  color: #000;
}

#individualLink:hover {
  border-bottom: 2px solid goldenrod;
}

.navTog {
  border: none;
  margin-right: 35px;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;

}

.oneIntro {
  height: auto;
  max-width: 100%;
}

.twoIntro {
  visibility:hidden;
}


@media only screen and (max-width: 768px) {
  .oneIntro {
    height: auto;
    max-width: 100%;
    display: none;
  }

  .twoIntro {
    visibility:visible;
  }
}











