
// .navImage {
//   width: 120px;
// }

// .topnav {
//   position: relative;
//   overflow: hidden;
//   background-color: goldenrod;
//   padding: 35px 0px;
// }

// .topnav a {
//   float: left;
//   color: #000;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 26px;
// }

// .topnav a:hover {
//   color: #fff;
// }

// .topnav a.active {
//   color: white;
// }

// .topnav-centered a {
//   float: none;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .topnav-right {
//   float: right;
// }

// /* Responsive navigation menu (for mobile devices) */
// @media screen and (max-width: 600px) {
//   .topnav a, .topnav-right {
//     float: none;
//     display: block;
//   }
  
//   .topnav-centered a {
//     position: relative;
//     top: 0;
//     left: 0;
//     transform: none;
//   }
// }


.mainNav {
  padding: 25px 0px;
  background-color: goldenrod;
}
.navImage {
  height: 100px;
  margin-left: 20px;
}

#individualLink {
  margin-left: 50px;
  font-size: 23px;
  color: #111;
}

#individualLink:hover {
  border-bottom: 2px solid #000;
}

.navTog {
  border: none;
  margin-right: 35px;
}

.hamburger {
  color: #000;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



