
.project-card  {
  // margin-top: 30px;
  // margin-right: 20px;
  margin-bottom: 50px;
  background-color: transparent;
  //border: 3px solid #000;
  width: 1000px;
}
.card-images {
  margin-top: 20px;
  margin-left: 50px;
  width: 400px;
  height: 350px;
}

.content {
  margin-top: 60px;
}

.project-title {
  font-size: 32px;
  color: #000;
  text-align: right;
}

  
.projectInfo {
  color: #000;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 20px;
  text-align: left;
  background-color: goldenrod;
  position: relative;
  border-radius: 10px;
}

.tech {
  text-align: right;
  color: #000;
}

.project-icons {
  text-align: right;
}

.viewProject,
.viewGit {
margin-right: 10px;
color: #000;
font-size: 20px;

}

.viewProject:hover {
  text-decoration: none;
  color: goldenrod;
}

.viewGit:hover {
  text-decoration: none;
  color: goldenrod
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 15px;
}

.projectCard:hover .overlay {
  opacity: 0.85;
  height: 100%;

}

@media screen and (max-width: 600px) {
  .overlay {
    width: 400px;
  }
}

