.projectCard  {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 50px;
  border: 3px solid transparent;
  width: 400px;
  height: 365px;
  border-radius: 5px;
}

.image{
  width: 475px;
  height: 360px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

#projectTitle {
  font-size: 25px;
  color: #000;
  margin-bottom: 15px;
  margin-top: 15px;
}

  
.projectInfo {
  color: #000;
  font-size: 15px;
  margin-top: 30px;
  padding: 0px 25px;
}

.projectDes {
  color: #000;
  font-size: 15px;
  padding: 5px 30px;
}

.viewProject,
.viewGit {
margin-right: 30px;
color: #000;
font-size: 20px;

}

.viewProject:hover {
  text-decoration: none;
  color: #fff;
}

.viewGit:hover {
  text-decoration: none;
  color: #fff;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: goldenrod;
  //opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  //padding-top: 45px;
  border-radius: 5px;
}

.projectCard:hover .overlay {
  height: 100%;
  opacity: 0.9;
}


@media screen and (max-width: 600px) {

  .projectCard {
    width: 350px;
    height: 350px;
  }

  .image {
    width: 350px;
    height: 345px;
  }

  #projectTitle {
    padding-top: 5px;
  }

  .overlay {
    width: 350px;
    height: 0px;
    padding-top: 0px;
  }

  .projectInfo {
    color: #000;
    font-size: 13px;
    padding: 0px 25px;
  }

  .projectDes {
    color: #000;
    font-size: 13px;
    padding: 5px 30px;
  }
  
  .viewProject,
  .viewGit {
  margin-right: 16px;
  color: #000;
  font-size: 15px; 
  }

}