.wrapper {
  margin: 50px 60% 50px 40px;
   }
  
.about-section {

  margin: 50px 0px;
  padding-bottom: 50px;
}
 
.profile-image {
 width: 350px;
 border-radius: 50%;
 margin-top: 100px;
}

.about-title {
  margin-top: 10px;
  margin-bottom: 40px;
}

.about-para {
  margin-bottom: 25px;
}

.resume {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 13px;
  border-radius: 5px;
}

.resume i {
  margin-left: 10px;
}

.resume:hover {
  background-color: goldenrod;
  color: #000;
  text-decoration: none;
  padding: 13px;
}