.wrapper {
  margin: 50px 60% 50px 40px;
   }
  
  .hello {
  margin-right: 50%;
  margin-bottom: 40px;
  margin-top: 10%;
  background-color: #f5d328;
  color: #fff;
  padding: 20px 14px;
  top: 50vh;
  // opacity: 0;
  // transform: translateY(25px);
  // transition: all 1s ease-out;
  }

  // .hello, .fade-in {
  //   opacity: 1;
  //   transform: translateY(50px);
  // }
  
  .aboutPara {
  color: #000;
  font-size: 20px;
  padding: 0px 0px 27px;
  }
  
  .aboutPara2 {
    color: #000;
    font-size: 20px;
    padding: 0px 0px 50px;
    margin-bottom: 100px;
    }
  
  @media screen and (max-width: 600px) {
    .wrapper {
      // height: 100vh;
      // margin: 50px 60% 50px 40px;
      padding-left: -50px;
      margin-right: 50px;
       }
      
      .hello {
      margin-right: -100%;
      // margin-bottom: 40px;
      // margin-top: 10%;
      background-color: #f5d328;
      color: #fff;
      padding: 15px 14px;
      font-size: 20px;
      margin-top: 30px;
      // top: 50vh;
      }
      
      .aboutPara {
      color: #000;
      font-size: 16px;
      margin-right: -160px;
      // padding: 0px 0px 27px;
      }
      
      .aboutPara2 {
        color: #000;
        font-size: 16px;
        margin-right: -160px;
        // padding: 0px 0px 50px;
        margin-bottom: 10px;
        }

  }